# DATASCI 350: Data Science Computing

## Assignment 08: SQL Practice with Python

### Instructions:
Use Python's `sqlite3` library to complete the following tasks. Connect to an in-memory SQLite database or create a file named `assignment08.db`.

Ensure all your Python code and the query results (where applicable) are included in this notebook. Submit this `.ipynb` file on Canvas.

Begin by running the setup code cell to create and populate the `drivers` table.

### Setup: Create and Populate Database

In [ ]:
import sqlite3
import pandas as pd # Often useful for displaying results

# Connect to the database (or create it)
conn = sqlite3.connect('assignment08.db') 
# conn = sqlite3.connect(':memory:') # Option for in-memory database
cursor = conn.cursor()
print("Database connected.")

# --- Create drivers Table ---
cursor.execute("DROP TABLE IF EXISTS drivers;")
create_table_sql = """
CREATE TABLE drivers(
    driver_id INT PRIMARY KEY,
    driver_name VARCHAR(30),
    nationality VARCHAR(15),
    team VARCHAR(30),
    victories INT,
    podiums INT,
    poles INT,
    points FLOAT
);
"""
cursor.execute(create_table_sql)
print("Table 'drivers' created.")

# --- Insert Data ---
drivers_data = [
    (1, 'Lewis Hamilton', 'British', 'Mercedes', 103, 182, 103, 4160.5),
    (2, 'Michael Schumacher', 'German', 'Ferrari', 91, 155, 68, 1566.0),
    (3, 'Ayrton Senna', 'Brazilian', 'McLaren', 41, 80, 65, 614.0),
    (4, 'Sebastian Vettel', 'German', 'Red Bull', 53, 122, 57, 3097.0),
    (5, 'Niki Lauda', 'Austrian', 'Ferrari', 25, 54, 24, 420.5),
    (6, 'Fernando Alonso', 'Spanish', 'Renault', 32, 101, 22, 2061.0),
    (7, 'Alain Prost', 'French', 'McLaren', 51, 106, 33, 798.5),
    (8, 'Charles Leclerc', 'Monegasque', 'Ferrari', 5, 21, 18, 699.0),
    (9, 'Max Verstappen', 'Dutch', 'Red Bull', 52, 92, 28, 2411.0),
    (10, 'Jenson Button', 'British', 'Brawn GP', 15, 50, 8, 1235.0),
    (11, 'Kimi Raikkonen', 'Finnish', 'Ferrari', 21, 103, 18, 1873.0),
    (12, 'Daniel Ricciardo', 'Australian', 'Red Bull', 8, 32, 3, 1274.0),
    (13, 'Valtteri Bottas', 'Finnish', 'Mercedes', 10, 67, 20, 1731.0),
    (14, 'Rubens Barrichello', 'Brazilian', 'Ferrari', 11, 68, 13, 658.0)
]

insert_sql = "INSERT INTO drivers VALUES (?, ?, ?, ?, ?, ?, ?, ?);"
cursor.executemany(insert_sql, drivers_data)
conn.commit()
print(f"{cursor.rowcount} records inserted into 'drivers'.")

# --- Verify Data Insertion ---
print("\n--- Initial Drivers Data ---")
df_initial = pd.read_sql_query("SELECT * FROM drivers;", conn)
print(df_initial)

1) List drivers ordered by `team` alphabetically and then by `victories` in descending order.

2) List drivers who have won more races than the average number of victories across all drivers.

3) Find all drivers with more than 50 podiums OR who drive for the 'Ferrari' team.

4) Count the number of drivers for each `nationality`, but only include drivers who have more than 40 `podiums`. Order the result by count in descending order.

5) Calculate the average `points` for each `team`, rounded to two decimal places.

6) List drivers who are in the top 20% based on their `points`.

7) Calculate the total `victories`, total `podiums`, and average `points` for drivers with 'German' `nationality`.

8) List all drivers whose `driver_name` contains both the letter 'a' and the letter 'e' (case-insensitive).

9) Retrieve the driver with the most `victories` within each `team`.

10) List drivers whose `points` are below the average `points` for their respective `team`.

11) Cleanup: Close the database connection